pane_frames false
default_mode "locked"
theme "tokyo-night"
ui {
    pane_frames {
        hide_session_name true
    }
}
keybinds {
    shared {
        bind "Super t" { MoveFocusOrTab "Left"; }
        bind "Super r" { MoveFocusOrTab "Right"; }
        // bind "Alt Shift Down" { MoveFocus "Down"; }
        // bind "Alt Shift Up" { MoveFocus "Up"; }
        bind "Super s" { ToggleFloatingPanes; }
    }
}
