theme = "tokyonight"
# theme = "catppuccin_mocha"

[editor]
bufferline = "multiple"
color-modes = true
cursorline = true
# line-number = "relative"
popup-border = "all"
rulers = [120]
jump-label-alphabet = "auietsrnx.'qpdél"
end-of-line-diagnostics = "hint"
true-color = true
default-yank-register = "+"

[editor.cursor-shape]
insert = "bar"

[editor.file-picker]
hidden = false

[editor.indent-guides]
render = true

[editor.inline-diagnostics]
cursor-line = "warning"
# other-lines = "error"

[editor.lsp]
# display-inlay-hints = true
display-messages = true
auto-signature-help = false

[editor.soft-wrap]
enable = true

[editor.whitespace.render]
tab = "all"

[editor.whitespace.characters]
tab = "→"

[editor.smart-tab]
enable = false

[keys.normal]
esc = ["collapse_selection", "keep_primary_selection"]
backspace = "delete_char_backward"
# don’t yank in d and c — just use yc or yd to yank
d = "delete_selection_noyank"
c = "change_selection_noyank"
# map the jump key to something actually easy on bépo layout
"'" = "goto_word"
"’" = "goto_word"
# remapping to . (dot) in currently broken - see https://github.com/helix-editor/helix/issues/1488
# "." = "repeat_last_motion"
# to shrink the selection if I’ve done too many x
X = ["extend_line_up", "extend_to_line_bounds"]
# slower movement with page up/down
"pageup" = "half_page_up"
"pagedown" = "half_page_down"
# move line or group of lines up/down
# C-up = '@<A-x>"aydk"aP'
# C-down = '@<A-x>"aydj"aP'
C-up = [ "extend_to_line_bounds", "delete_selection", "move_line_up", "paste_before"]
C-down = [ "extend_to_line_bounds", "delete_selection", "move_line_down", "paste_before" ]
# signature popup
"C-t" = "signature_help"
"-" = ":reflow"

[keys.normal.space]
space = ":write-all"
"l" = ":lsp-workspace-command"
"q" = ":write-quit-all"
# "’" = ":sh zellij run --close-on-exit --floating -x 1% -y 5% --width 99% --height 96% -- bash ~/.config/helix/yazi-picker.sh"

[keys.normal."«"]
space = "add_newline_above"
D = "goto_first_diag"
G = "goto_first_change"
T = "goto_prev_test"
a = "goto_prev_parameter"
c = "goto_prev_comment"
d = "goto_prev_diag"
f = "goto_prev_function"
g = "goto_prev_change"
p = "goto_prev_paragraph"
t = "goto_prev_class"
b = "goto_previous_buffer" # not in the std mapping
j = "jump_backward" # not in the std mapping

[keys.normal."»"]
space = "add_newline_below"
D = "goto_last_diag"
G = "goto_last_change"
T = "goto_next_test"
a = "goto_next_parameter"
c = "goto_next_comment"
d = "goto_next_diag"
f = "goto_next_function"
g = "goto_next_change"
p = "goto_next_paragraph"
t = "goto_next_class"
b = "goto_next_buffer" # not in the std mapping
j = "jump_forward" # not in the std mapping

[keys.select]
# to shrink the selection if I’ve done too many x
X = ["extend_line_up", "extend_to_line_bounds"]
# don’t yank in d and c — just use yc or yd to yank
d = "delete_selection_noyank"
c = "change_selection_noyank"

[keys.insert]
"C-t" = "signature_help"
